@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("fontawesome-all.min.css");
	
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white_text {
	color: white;
}

.row.align_left {
		text-align: left;
}

#shhhhhh {
	text-decoration: none;
	cursor: none;
	width: 100%;
}

#shhhhhh:hover {
	display: none;
	cursor: none;
}


.content-center {
	text-align: center;
}

.bstyle {
	background-image: url("images/backgroundbone.jpg");
	color: white;
	text-shadow: none;
}

.congrats {
	font-weight: bold;
	color:white;
	padding-left: 5px;
	padding-right: 5px;
}

.resizing {
	height: 500px;
}

.nav-logo {
	color: white;
	text-align: left !important;
	font-weight: bold;
	margin-left: 30px;
}

/* Nav */

.nav {
	background-color: #282828 !important;
}

.nav ul {
	float: right;
	display: inline-block;
}

.nav ul li{
	display: inline-block;
	margin: 0 5px;
}

.nav ul li a{
	color: white !important;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 13px;
	border-radius: 5px;
}

.nav ul li a:hover {
	color: white;
	background: #595E5E;
	transition: .2s;
}

.checkbtn{
	font-size: 20px;
	color: white;
	float: right;
	margin-right: 40px;
	line-height: 44px;
	cursor: pointer;
	display: none;
}

#top {
	margin-top: 44px;
	text-align: center;
	padding: 5em 0;
}

#top .image {
	margin: 0 auto 2em auto;
}

#check {
	display: none;
}

.image_boy {
	height: 15em;
}

.fa-bars {
	color: white;
}

#worker{
	height: 7em;
	width: 9em;
	text-align: center;
}

.brief_me{
	padding-top: 2em;
}

/* Medium */

	@media screen and (max-width: 980px) {

		/* Articles */

			#top {
				text-align: center;
				padding: 5em 0;
			}

			#top .image {
				margin: 0 auto 2em auto;
			}
			
			.nav ul {
				float: left;
				display: block;
				margin-top: 10px;
			}

			.nav ul li{
				display: block;
				margin: 0 5px;
			}

			.nav ul li a{
				color: white !important;
				font-weight: bold;
				text-decoration: none;
				padding: 7px 13px;
				border-radius: 5px;
			}
			
			#aboutme{
				padding-bottom: 5em;
			}
			
	}
	
	@media screen and (max-width: 768px) {
		.brief_me{
			padding-top: 2em;
		}
	}